/* =======================================================================
base settings
========================================================================== */
body {
	background-color: #fff;
	color: #000;
}
#wrapper {
	min-width: 1000px;
	width: 100%;
	position: relative;
}
#content {
	padding-top: 14px;
}
/* =======================================================================
========================================================================== */
