/* =======================================================================
base settings
========================================================================== */
#wrapper.sp {
	min-width: 0;
	width: 640px;
}

.sp #content {
	width: 640px;
	padding-top: 0;
}